<section class="hero is-black is-bold is-fullheight">
	<div class="hero-body">
		<div class="container">
			<div class="columns">
				<div class="column is-4 is-offset-4">
					<p>
						<center><a href="/lab" class="tag is-primary is-large is-rounded cmulab">CMULab</a> &nbsp;<b class="tag is-medium is-rounded is-light">QR</b> &nbsp;<span class="title is-4"> for {{course}}</span></center>
					</p>
					<br />
					<p>
						<center><span class="title is-5">Precept QR Code for {{user}}</span></center>
		  			</p>
		  			<br />
		  			<p class="subtitle is-5 has-text-centered">
						<img src={{qrcode_url}}>
		  			</p>
					<br />
	  			</div>
  			</div>
		</div>
	</div>
	<div class="hero-foot">
		<p>
			<small class="has-text-grey-light">{{> footer}}</small>
		</p>
	</div>
</section>
